/* ======== Variables ========== */
:root {
  --primary-txt-color: #C0C0C0;
  --secondary-txt-color: #ffffff;
  --accent-color: rgba(240, 149, 74, 0.9333333333);
  --white-color: #ffffff;
  --header-bg: #181818;
}
/* ============================= */

/* ======== Global Reset ======= */
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

img {
	display: block;
}

/* ============================= */

/* ========== Globals ========== */
body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.05;

  background-color: #000000;
}


.container {
  max-width: 1470px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 120px 100px 120px;
}

.btn {
	border: none;
  padding: 10px 10px 12px 5px;
  color: #000000;
	background-color: var(--white-color);
  border-radius: 14px;
	cursor: pointer;
}

.btn-hole::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;

  margin-right: 5px;
  align-items: center;

  background: #000000;
  border-radius: 40%;
}

.btn:hover, .btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: 0.2s ease-out;
}

.btn-header {
  padding: 11px 20px;
}

.title-center {
  font-size: 40px;

  text-align: center;

  color: var(--white-color);
}

.image__info-list {
  display: flex;
  gap: 16px;

  position: absolute;
  right: 40px;
  bottom: 40px;
}

.info-item {
  font-size: 12px;
  line-height: 1;  

  color: var(--white-color);
}
.info-1::before {
  content: url(../img/icons/info_clock.svg);
  margin-right: 6px;
}
.info-2::before {
  content: url(../img/icons/info_aperture.svg);
  margin-right: 6px;
}
.info-3::before {
  content: url(../img/icons/info_iso.svg);
  margin-right: 6px;
}
.info-4::before {
  content: url(../img/icons/info_location.svg);
  margin-right: 6px;
}

@media (max-width: 576px) {
  .image__info-list {
    right: 28px;
    bottom: 40px;
}
}

/* ======== Header ======== */
.header {
  background-color: var(--header-bg);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}

.nav__list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav__item-link {
  font-size: 13px;
  line-height: 1.54;
  padding: 20px 0;
  color: var(--white-color);
}

.nav__item-link:hover, .nav__item-link:focus {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

.menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 55;
    cursor: pointer;
  }
  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s ease-out;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon.active span {
    transform: scale(0);
  }
  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 768px) {
  .nav__body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    overflow: auto;
    transition: all 0.2s ease-out;
  }
  .nav__list {
    flex-direction: column;
    gap: 0;
    margin: auto;
    background-color: #000000;
  }
  .nav__item-link {
    display: block;
    font-size: 1.5rem;
    line-height: 70px;
  }
  .btn-header {
    margin-top: 20px;
  }
}
.nav_body.active {
  left: 0;
}


/* ======= Hero ======= */
.hero__content {
  max-width: 100%;
  height: 716px;

  position: relative;

  background-image: url(../img/photo/b_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__content-description {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 446px;
  text-align: center;
}
.hero__title {
  font-size: 54px;
  line-height: 1.09;
  color: var(--secondary-txt-color);
  order: 1;
}
.hero__subtitle {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-txt-color);
  order: 0;
}
.hero__text {
  line-height: 1.43;
  color: var(--primary-txt-color);
  order: 2;
}

@media (max-width: 576px) {
  .hero__content {
    max-width: 100%;
    height: 400px;
  
    position: relative;
  
    background-image: url(../img/photo/b_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero__content-description {
    max-width: 300px;
    padding-top: 200px;
    text-align: center;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 9px;
  }
  .hero__text {
    font-size: 9px;
  }
}