/* ======== Variables ========== */
:root {
  --primary-txt-color: #C0C0C0;
  --secondary-txt-color: #ffffff;
  --accent-color: rgba(240, 149, 74, 0.9333333333);
  --white-color: #ffffff;
  --header-bg: #181818;
}
/* ============================= */

/* ======== Global Reset ======= */
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

img {
	display: block;
}

/* ============================= */

/* ========== Globals ========== */
body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.05;

  background-color: #000000;

  overflow: hidden;
}


.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 120px 120px 100px 120px;
}

.btn {
	border: none;
  padding: 10px 10px 12px 5px;
  color: #000000;
	background-color: var(--white-color);
  border-radius: 14px;
	cursor: pointer;
}

.btn-hole::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;

  margin-right: 5px;
  align-items: center;

  background: #000000;
  border-radius: 40%;
}

.btn:hover, .btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: 0.2s ease-out;
}

.btn-header {
  padding: 11px 20px;
}

.title-center {
  font-size: 40px;

  text-align: center;

  color: var(--white-color);
}

/* ======== Header ======== */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav__list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav__item-link {
  font-size: 13px;
  line-height: 1.54;
  padding: 20px 0;
  color: var(--white-color);
}

.nav__item-link:hover, .nav__item-link:focus {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

/* ======= Hero ======= */
.hero {
  
  
}
.hero__content {
  max-width: 100%;
  height: 716px;

  background-image: url(../img/photo/b_1.jpg);
}
.hero__content-description {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 446px;
  text-align: center;
}
.hero__title {
  font-size: 54px;
  line-height: 1.09;
  color: var(--secondary-txt-color);
  order: 1;
}
.hero__subtitle {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary-txt-color);
  order: 0;
}
.hero__text {
  line-height: 1.43;
  color: var(--primary-txt-color);
  order: 2;
}