.hero__box {
	width: 1440px;
	height: 716px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
}

.hero__text {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%);
	color: white;
}

.hero__title {
	font-weight: 400;
	font-size: 54px;
	line-height: 59px;
	order: 1;
	margin-bottom: 18px;
}

.hero__subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	order: 0;
	margin-bottom: 2px;
}

.hero__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	order: 2;
}