// ---------- MENU------------

.navigation {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	display: flex;
	height: $padding-height;
	background-color: $bgc;
}

.navigation__box {
	display: flex;
	width: 1168px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 0 calc(20px + (136 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.menu {
	&__icon {
		display: none;
		@media (max-width: 960px) {
			display: block;
			width: 30px;
			height: 18px;
			position: relative;
			z-index: 55;
			cursor: pointer;
			span {
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				transition: all 0.2s ease-out;
				&:first-child {
					top: 0;
				}
				&:last-child {
					top: auto;
					bottom: 0;
				}
			}
			&.active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1px);
					}
				}
			}
		}
	}
	// .menu__body
	&__body {
		@media (max-width: 960px) {
			position: absolute;
			// bottom: 100%;
			// left: 0; //
			top: 0;
			left: -100%;
			height: 100vh;
			width: 100%;
			background-color: $bgc;
			display: flex;
			overflow: auto;
			transition: all 0.2s ease-out;
		}
		&.active {
			// transform: translateY(100%); //
			left: 0;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		gap: 30px;
		list-style-type: none;
		@media (max-width: 960px) {
			flex-direction: column;
			// padding: 30px;
			gap: 0;
			margin: auto;
			background-color: $bgc;
		}
	}
	// .menu__link
	&__link {
		font-size: 0.9375rem;
		color: #fff;
		text-decoration: none;
		&:hover,
		&:focus {
			color: $accent-color;
			transition: all 0.2s ease-out;
		}
		@media (max-width: 960px) {
			display: block;
			font-size: 1.5rem;
			line-height: 70px;
		}
	}
}

.menu__btn {
	@media (max-width: 960px) {
		margin-top: 20px;
	}
}