.hero__content {
	position: relative;
	min-height: 716px;
	max-width: 1440px;
}
.hero__img {
	max-width: 100%;
}
.hero__text {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 470px;
	left: 50%;
	transform: translate(-50%);
	max-width: 600px;
	text-align: center;
}
.hero__title {
	font-weight: 400;
	font-size: 54px;
	line-height: 1.07;
	margin-bottom: 18px;
	color: $secondary-color;
	order: 1;
}
.hero__subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 1px;
	order: 0;
}
.hero__description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42;
	text-transform: none;
	order: 2;
}

.relaitive__box {
	width: 1440px;
	height: 600px;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
}

.text__box {
	max-width: 600px;
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%);
	color: white;
}