$container: 1440px;
$font-sz-title: 2.5rem;
$font-sz-subtitle: 1.5rem;
$font-sz-main: 0.875rem;
$font-sz-small: 0.75rem;
$font-sz-calc: calc(1em + 0.5vw);
$bg-color: #000;
$primary-color: #fff;
$secondary-color: #c0c0c0;
$accent-color: #dd8e4d;

// Breakpoints
$mobile: 360px;
$tablet: 640px;
$tablet-max: 768px;
$notebook: 1024px;
$desktop: 1440px;